@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);

  h1 {
    color: var(--secondary-color);
  }
}

.page-content {
  display: flex;
}

.page-wrapper {
  width: 100%;
  padding: 16px;
}
