
.app.light {
  --bg-color: #d5e6ef;
  --inverted-bg-color: #001826;
  --primary-color: #00141f;
  --inverted-primary-color: #fceddb;
  --secondary-color: #e05712;
  --inverted-secondary-color: #ff6a20;
}
