.AppButton {
  cursor: pointer;
}

.clear {
  bottom: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 8px 16px;
  color: var(--primary-color);
  background: none;
  border: 5px solid;
  border-color: var(--primary-color);
}
