.Sidebar {
  position: relative;
  flex-shrink: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.3s ease-in-out;
}

.collapseBtn {
  position: absolute;
  right: -40px;
  bottom: 40px;
  color: var(--inverted-secondary-color);
}

.switchers {
  position: absolute;
  bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0  0 16px;
}

.navItem {
  display: flex;
  align-items: center;
  
}

.navLink {
  margin-left: 8px;
}

.navIcon {
  fill: var(--inverted-primary-color)
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .navLink {
    width: 0;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

